<% if user.troubles.count == 0 %>
  <h2>このユーザーの投稿は０件です</h2>

<% else %>

  <h3>相談件数 <%= user.troubles.count %>件</h3></br>

  <table ~~~ class = "table">

    <colgroup>
       <col style = "width:40%;">
       <col style = "width:60%;">
    </colgroup>

    <tr class= "info">
  	<th class = "text-center">カテゴリー</th>
  	<th>タイトル</th>
    </tr>

  <% user.troubles.each do |trouble| %>
    <tr>
  	<td class = "text-center">
  	  <%= trouble.category.name %>
  	</td>
  	<td>
  	  <%= link_to trouble_path(trouble) do %><%= trouble.title %><% end %>
  	</td>
    </tr>
  <%end%>

  </table>

<% end %>