<div class="container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-2 devise">
      <h2><span class="subject">相談者の情報を見る</span></h2><br/>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <%= render 'info', user: current_user %>
    </div>
    <div class="col-xs-9">
      <%= render 'trouble', user: current_user %>
    </div>
  </div>
</div>