<div class="container yield">

  <div class="row">
    <div class="col-xs-5 col-xs-offset-2">
      <% if user_signed_in? %>
        <h2><span class="user_mypage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;マ&nbsp;イ&nbsp;ペ&nbsp;ー&nbsp;ジ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2>
      <% else %>
        <h2><span class="subject">&nbsp;&nbsp;<i class="fas fa-user"></i>&nbsp;相談者の情報を見る&nbsp;<i class="fas fa-user"></i>&nbsp;&nbsp;</span></h2>
      <% end %><br/><br/>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4"><br/>
      <%= render 'info', user: @user %>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-7">
      <%= render 'trouble', trues: @true_troubles, troubles: @troubles %>
    </div>
  </div>

</div>