<div class="container bottom">
  <div class="row">

    <div class="withdraw">
      <h3>本当に退会してよろしいでしょうか？</h3><br/>

          同じメールアドレスでの再度の登録は不可能となります。<br/>
          パスワードを変更されたい場合は、<%= link_to "こちら", edit_user_registration_path(current_user) %>からお願い致します。<br/>
          退会しても相談投稿のデータは削除されませんので、御了承願います。</br>
          それでも退会する場合は、「退会する」をクリックしてください。<br/><br/>

      <div class="actions">
        <span style="padding-right:100px;"><%= link_to "退会をやめる", user_path(current_user), class:"btn btn-warning" %></span>
        <span><%= link_to "退会する", user_path(current_user), data: { confirm: "本当に退会しますか?" }, method: :delete ,class:"btn btn-danger" %></span>
      </div>
    </div>

  </div>
</div>