<div class="container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-2 main">
      <h2><span class="subject">先生の情報を見る</span></h2><br/>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <%= render 'info', lawyer: @lawyer %>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-8">
      <%= render 'list', lawyer: @lawyer, references: @references %>
    </div>
  </div>
</div>