<div class="container">
  <div class="yield">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3" style="background-color: orange;">
      <h2>about画面です</h2>
      </div>
    </div>
  </div>
</div>