<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" style="margin-top:30px;">
      <div class="center">
  	    <h2 style="background:#ffc993;">＜&nbsp;&nbsp;管理人より&nbsp;&nbsp;＞</h2>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="admin-about">
  	    この度は当サイトにご訪問頂きまして、誠に有難うございます。周りに相談できずに困っていらっしゃる方が法専門家の方々に気軽に相談しやすい環境が必要だという思いから、当サイトの制作に至りました。その為、相談者が安心して使えるようプライバシーに最大限配慮して制作しております。このサイトを通じて、法専門家の先生方と相談を御希望される方がお互いに信頼し合えるパートナーとなり、一人でも多くの方々が幸せになれることを心から願っております。<br/>
        またこのサイトを利用するにあたって管理人からいくつかお願いがありますので、以下の利用規約を一読願います。
      </div>
  	</div>
    <div class="col-xs-8 col-xs-offset-2 center">
  	  <h2 class="admin_rule">＜&nbsp;&nbsp;管理人からのお願い（利用規約）＞</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5">
      <h2 class="center lawyer_mypage rule"><i class="fas fa-user-tie"></i>&nbsp;&nbsp;&nbsp;&nbsp;法専門家の方へ&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-user-tie"></i></h2>
        <p>・相談者の投稿にご回答頂く形となっております。１つの投稿に対して回答できるのは１度限りとなりますので、ご注意願います。また投稿後の内容の編集はできませんので、投稿前に必ず内容の確認をして下さい。</p>
        <p>・相談者がご回答内容を確認してメッセージを送って頂ければ、直接の相談を受けたりアポイントを取ることが可能となります。その為、チャット一覧は随時の確認をお願い申し上げます。</p>
        <p>・投稿その他の行為が悪質と管理者が判断した場合は、投稿を削除させて頂いたり、強制退会措置を取らせて頂くこともありますので、ご了承願います。</p>
    </div>
    <div class="col-xs-5">
      <h2 class="center user_mypage rule"><i class="fas fa-user"></i>&nbsp;&nbsp;相談を御希望される方へ&nbsp;&nbsp;<i class="fas fa-user"></i></h2>
        <p>・まずは相談の投稿をお願いします。カテゴリーから合うものを選択し、説明しやすい写真があれば本文と一緒に併せて投稿することが可能です。投稿後の内容の編集はできませんので、投稿前に必ず内容の確認をして下さい。</p>
        <p>・法専門家の方々から回答を頂ければ、回答して頂いた方と直接の相談が可能となります。</p>
        <p>・投稿その他の行為が悪質と管理者が判断した場合は、投稿を削除させて頂いたり、強制退会措置を取らせて頂くことがありますので、ご了承願います。</p>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>