<div class="container about">
  <div class="row">
    <div class="center">
  	  <h2>＜&nbsp;&nbsp;管理人より&nbsp;&nbsp;＞</h2>
    </div>
  	<div class="col-xs-8 col-xs-offset-2">
  	  この度は当サイトにご訪問頂きまして、誠に有難うございます。当サイトは法専門家の先生方と相談をご希望される方が、
  	</div>
  </div>
  <div class="center">
  	<h2>＜&nbsp;&nbsp;管理人からのお願い（利用規約）＞</h2>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5">
      <h2 class="center">法専門家の方へ</h2>
    </div>
    <div class="col-xs-5">
      <h2 class="center">相談を御希望される方へ</h2>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>