<div class="top">
</div>

<div class = "container" style="text-align:center;">
  <div class="login-link">
  <div class = "row">

    <div class="col-xs-6">
      <h1><i class="fas fa-user-tie"></i>法専門家の方はこちら</h1>
      <h4><%=link_to '先生 ログイン', new_lawyer_session_path, class: "btn btn-warning col-xs-8 col-xs-offset-2" %></h4>
    </div>

    <div class="col-xs-6">
      <h1><i class="fas fa-user"></i>相談を御希望の方はこちら</h1>
      <h4><%=link_to '相談者 ログイン', new_user_session_path, class: "btn btn-warning col-xs-8 col-xs-offset-2" %></h4>
    </div>

  </div>
</div>
</div>