// Place all the styles related to the lawyers/lawyers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.withdraw {
    margin-top: 70px;
	text-align: center;
}
.map {
    height: 500px;
    width: 70%;
}