// Place all the styles related to the lawyers/map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 400px;
  width: 70%;
  margin: 0 auto;
}
.map {
	margin-top: 20px;
	padding-bottom:30px;
}
.office-map {
	padding-top: 20px;
}