/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

    @import "bootstrap-sprockets";
    @import "bootstrap";

html,body{
     width: 100%;
     height:100%;
}
.wrapper{
     width: 100%;
     position: relative;
     min-height: 100%;
	 background: #fff9f4;
}
header {
	background-color: #ffba75;
	width: 100%;
	height: 120px;
}
nav {
    position: relative;
	width: 1184px;
	height: 120px;
	margin: 0 auto;
}
.nav-img {
	width:25vw;
	height:104px;
	margin:8px 0;
	float: left;
	background-image: image-url("lawconsultation.png");
    background-size: cover;
	background-position: center center;
}
.header-links {
	position: absolute;
	top: 50px;
	right: 0;
}
.header-link {
	display: inline-block;
	font-size: 16px;
	margin: 0 15px;
}
.each_link {
	color: #008b8b;
	font-weight:bold;
    display: inline-block;
    text-decoration: none;
}
.each_link:hover {
	color: #20b2aa;
}
.log-name {
	font-size: 14px;
	margin:0 20px;
}
main{
     padding-bottom:20px;
}
.yield {
	margin-top: 60px;
	padding-bottom: 80px;
}
footer{
	background-color: #0000cd;
	color: #ffffff;
     height:20px;
     position:absolute;
     width: 100%;
     bottom:0;
     text-align: center;
}
.error {
    color:red;
}
.logins {
	margin-top:150px;
	padding-bottom: 80px;
}
.actions {
    margin-top: 30px;
}
table tr:nth-child(odd) td {
	background: #fff8dc
} tr:nth-child(even) td {
	background: #ffffef
}
table tr:nth-child(odd) th {
	background: #fff8dc
} tr:nth-child(even) th {
	background: #ffffef
}
.tr-color {
	background: black;
}
.required {
	color: red;
}
.recommendation {
	color: blue;
}
.subject {
	background: #ffff66;
}