/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

    @import "bootstrap-sprockets";
    @import "bootstrap";

header {
	background-color: #ffa500;
	width: 100%;
	height: 80px;
}
nav {
    position: relative;
	width: 1196px;
	height: 70px;
	margin: 0 auto;
}
.header-links {
	position: absolute;
	top: 30px;
	right: 0;
}
.header-link {
	display: inline-block;
	font-size: 16px;
	margin: 0 20px;
}
.log-name {
	font-size: 14px;
	margin:0 50px;
}
footer {
	background-color: #0000cd;
	color: #ffffff;
	width: 100%;
	text-align:center;
	position: fixed;
	bottom: 0;
}
.wrapper{
    padding-bottom: 150px;
}
.attachment_field {
	display: none;
}
.error {
    color:red;
}
.logins {
	margin-top:100px;
	margin-bottom: 30px;
}
.logs-footer {
	margin-bottom: 100px;
}
.main {
	margin-top: 50px;
}
.actions {
    margin-top: 30px;
}
table td {
	background: #f8f8ff;
}
table tr:nth-child(even) td {
	background: #fff;
}
.required {
	color: red;
}
.recommendation {
	color: blue;
}
.subject {
	background-color: #f0f8ff;
}