/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

    @import "bootstrap-sprockets";
    @import "bootstrap";

html,body{
     width: 100%;
     height:100%;
}
.wrapper{
     width: 100%;
     position: relative;
     min-height: 100%;
}
header {
	background-color: #ffa500;
	width: 100%;
	height: 100px;
}
nav {
    position: relative;
	width: 1184px;
	height: 100px;
	margin: 0 auto;
}
.nav-img {
	width:25vw;
	padding-top: 4px;
	height:96px;
	margin:0 auto;
	float: left;
}
.header-links {
	position: absolute;
	top: 40px;
	right: 0;
}
.header-link {
	display: inline-block;
	font-size: 16px;
	margin: 0 15px;
}
.each_link {
	color: gray;
}
.log-name {
	font-size: 14px;
	margin:0 50px;
}
main{
     padding-bottom:20px;
}
.yield {
	margin-top: 60px;
	padding-bottom: 80px;
}
footer{
	background-color: #0000cd;
	color: #ffffff;
     height:20px;
     position:absolute;
     width: 100%;
     bottom:0;
     text-align: center;
}
.error {
    color:red;
}
.logins {
	margin-top:150px;
	margin-bottom: 30px;
	padding-bottom: 80px;
}
.actions {
    margin-top: 30px;
}
table td {
	background: #f8f8ff;
}
table tr:nth-child(even) td {
	background: #fff;
}
.required {
	color: red;
}
.recommendation {
	color: blue;
}
.subject {
	background-color: #f0f8ff;
}