// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thanks {
	margin-top: 250px;
	text-size: 30px;
	text-align: center;
}
.top {
  background-image: image-url("top.jpg");
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}