// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thanks {
	margin-top: 250px;
	text-size: 30px;
	text-align: center;
}

.top {
    background-image: image-url("root_path.jpg");
	background-size: cover;
	width: 100%;
	height: 400px;
}
.login-link {
	padding-top: 50px;
}

.admin-about {
	margin: 10px 5px 5px 30px;

}

.admin_rule {
	background: #ff9999;
}
.rule {
	margin-bottom: 20px;
}
