// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_message {
	background: #d6ffd6;
}

.lawyer_message {
	background: #c6ffff;
}

.name_link {
	color: #d6ffff;
}

.mesubmit {
	margin-top: 15px;
	margin-left: 20px;
}