// Place all the styles related to the users/troubles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.attachment_field {
	display: none;
}

.comment {
	padding-bottom: 20px;
}

.comments {
	margin-top: 50px;
}

.frame  {
 border: 1px solid #000000;
 padding:20px;
}